{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "semi": true,
    "useTabs": false,
    "arrowParens": "always",
    "proseWrap": "never",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": [".gitlab-ci.yml", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
